{% extends 'auctions/layout.html' %}

{% block body %}
    <h2>Listing: {{ listing.title }}</h2>
    {% if listing.photo %}
        <img src="{{ listing.photo.url }}" width="200">
    {% endif %}

    <p>{{ listing.description }}</p>
    <p>${{ listing.starting_bid }}</p>

    {% if listing.is_active %}
        <form action="{% url 'place_bid' listing.id %}" method="post">
            {% include 'auctions/form.html' with button_tag="Place Bid" %}
        </form>
        
        {% if user_watchlist == listing %}
            <a href="{% url 'remove_watchlist' listing.id %}">Remove from Watchlist</a>
        {% else %}
            <a href="{% url 'add_watchlist' listing.id %}">Add to Watchlist</a>
        {% endif %}

        {% if user_listing %}
            <div><a href="{% url 'close_listing' listing.id %}">Close</a></div>
        {% endif %}

    {% else %}
        <p>The auction is closed</p>
    {% endif %}

    <h3>Details</h3>
    <ul>
        <li>Listed by: {{ listing.owner.username }}</li>
    </ul>

    {% if listing.is_active and user.is_authenticated %}
        <form action="{% url 'add_comment' listing.id %}" method="post">
            {% include 'auctions/form.html' with button_tag="Comment" %}
        </form>
    {% endif %}

    <h3>Comments</h3>
    {% for comment in listing.comments.all %}
        <div class="card">
            <div class="card-header">
                Commented at {{ comment.created_at }} by {{ comment.owner.username }}
            </div>
            <div class="card-body">
            <p class="card-text">{{ comment }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}