<div class="row justify-content-start">
    {% for listing in listings %}
        <div class="col-lg-2 col-md-3 col-sm-4 text-start">
            <a class="text-decoration-none text-reset" href="{% url 'view_listing' listing.id %}">
                {% if listing.photo %}
                    <img src="{{ listing.photo.url }}" class="img-fluid">
                {% endif %}
                <p class="text-black-50 mb-0 link-secondary"><small>{{ listing.title }}</small></p>
            </a>
            <p class="fw-bold">US${{ listing.starting_bid }}</p>    
        </div>
    {% empty %}
        <p>No Active Listings yet</p>
    {% endfor %}
</div>