{% extends "auctions/layout.html" %}

{% block body %}
    <div class="row justify-content-start w-100">
        <h3>MY WATCHLIST</h3>
        {% if user.is_authenticated %}
            <table class="table mt-5">
                {% if listings %}
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Bid</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                {% endif %}
                <tbody>
                    {% for listing in listings %}
                        <tr>
                            <td><img src={{ listing.photo.url }} width="100"></td>
                            <td class="align-middle">{{ listing.title }}</td>
                            <td class="fw-semibold align-middle">${{ listing.starting_bid }}</td>
                            <td class="align-middle">
                                <a href="{% url 'remove_watchlist' listing.id %}" class="text-dark"><i class="fs-5 me-4 bi bi-trash"></i></a>
                                <a href="" class="text-dark"><i class="fs-5 bi bi-cart"></i></a>
                            </td>
                        </tr>
                    {% empty %}
                        <small class="text-black-50">It is empty here.</small>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div>
                <small class="text-black-50">It is empty here.</small>
                <p class="fw-bold fs-5 mt-3 ">Already have items saved?</p>
                <a href="{% url 'login' %}" class="btn btn-dark mt-2 py-2 w-25">Login</a>
            </div>
        {% endif %}
    </div>
{% endblock %}